<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:intramart:jackling:module"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:conf="urn:intramart:jackling:toolkit:configurations"
    xsi:schemaLocation="urn:intramart:jackling:module module.xsd"
    conf:schemaLocation="urn:intramart:jackling:toolkit:configurations configurations.xsd">

  <id>{{GROUP_ID}}.{{ARTIFACT_ID}}</id>
  <version>{{PROJECT_VERSION}}</version>
  <type>module</type>

  <name>${module.name}</name>
  <vendor>${module.vendor}</vendor>
  <description>${module.description}</description>

  <dependencies>
    {{DEPENDENCIES}}
  </dependencies>

</module>